.foto
{
    width: 300px;
    border-radius: 100%;
    margin-left: 42%;
    margin-top: 20px;
}

.imgSobreMi{
    @extend .foto
}

.imgObj{
    @extend .foto;
}
.imgContact{
    @extend .foto
}

.imgPalabra{
    margin-left: 41%;
    margin-top: 10%;
}

.img_Nombre{
    @extend .imgPalabra
}

.imgTitulo{
    @extend .imgPalabra
}


@mixin descripcion(){
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}

.descripcionSobreMi{
    @include descripcion()
}

.descripcionObj{
    @include descripcion()
}

.descripcionPr{
    @include descripcion()
}

.descripcionContact{
    @include descripcion()
}
