.foto, .imgContact, .imgObj, .imgSobreMi {
  width: 300px;
  border-radius: 100%;
  margin-left: 42%;
  margin-top: 20px;
}

.imgPalabra, .imgTitulo, .img_Nombre {
  margin-left: 41%;
  margin-top: 10%;
}

.descripcionSobreMi {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
}

.descripcionObj {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
}

.descripcionPr {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
}

.descripcionContact {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
}
