/*Inicio pag*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/imagenes/fondo.jpg);
    width: 100%;
    margin: 0px;

}

/*img y nombre presentacion*/
.imagen {
    width: 170px;
    height: auto;
    margin-left: 45%;
    margin-top: 350px;
    border-radius: 100%;
}

.nombre {
    margin-left: 39%;
    font-family: 'Coda', cursive;
    font-weight: bold;
    font-size: 25px;


}

/*barra navegacion*/
.links {
    position: sticky;
    background-color: black;
    width: 100%;
}

.links ul li {
    display: inline;
    padding: 0 100px;
    margin: 3%;
}

.enlances {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*imagenes con links*/
.contenedorInferior {
    margin-top: 15%;
}

.imglinks {
    width: 60px;
    height: auto;
    margin-left: 23%;

}

/*Sobre Mi*/

.imagenSobreMi {
    width: 170px;
    height: auto;
    margin-top: 3%;
    margin-left: 44%;
    border-radius: 100%;
}

h2 {
    font-size: 30px;
    margin-left: 45%;
    font-family: 'Mulish', sans-serif;
    margin-top: 4%;
}

.descripcion {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 3%;
    }
    /*Objetivos*/
    .contenedorInferiorObjetivos{
        margin-top: 23.5%;
    }

    /*Proyectos*/
 
    .titulos{
margin-top: 1%;
 }   

 .imgProyectos{
    width: 300px;
    height: auto;
    margin: 5%;
 }
 
.contenedorProyectos{
    display: flex;
    
}
.contenedorProyectos ul{
    text-decoration: none;
    }

.contenedorInferiorProyectos{
margin-top: 5%;
}

/*Contacto*/

.contact {
    margin-top: 10%;
margin-left: -10%;
font-size: 20px;
}
.contenedorContact{
    display: flex;
    margin-top: 10%;
}
.imagencontact{
    width: 300px;
    height: auto;
    margin: 5%;
    border-radius: 100%;
}
.titulo{
    margin-left:30% ;
margin-top: 7%;
}
.contenedorInferiorContact{
    margin-top: 10%;
}